body
{
	background-color: bisque;
}


.mainLogo
{
  	border-radius: 4px; 
	padding: 20px;
	width: 80px;

	position:absolute;
	left:0px;
	top:0px;
	z-index: 2;
}

.backgroundMenu
{
	height: 100px;
	width: 1090px;
	/*background: url(images/sand.jpg);*/
	z-index: 1;

}

.table
{
	display: table;
	margin: 0 auto;

}


.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tabWrapper
{
	overflow: auto; /*content for specific area length*/
	border: 2px none #ccc;
	/*background-color:*/
}

.tab
{
	display:inline;
}

.tabWrapper button
{
	background-color: inherit;
	font-family: Impact, Charcoal, sans-serif;
	font-weight:750;
	font-size: 30px;

	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 20px 80px;
	transition: 0.3s;

}


.tabWrapper button:hover
{
	background-color: #ddd;
}

.tabWrapper button.active
{
	background-color: #ccc;
}

table
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.room
{
	border-radius: 8px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h2
{
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}

#gameButton{
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
#gameButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
#gameButton:active {
	position:relative;
	top:1px;
}

 #gameButton: onClick 
{
}

#connectButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
#connectButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
#connectButton:active {
	position:relative;
	top:1px;
}


#careButton {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
#careButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
#careButton:active {
	position:relative;
	top:1px;
}

#content
{

	float: right;


}

#map
{
	
}









